%h1 Listing users

%table.table.table-condensed
  %tr
    %th Username
    %th Lastname
    %th Identity
    %th Email
    %th Birthdate
    %th Active
    %th


  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.lastname
      %td= user.identity
      %td= user.email
      %td= user.birthdate
      %td
        - if !user.active
          %span.label.label-warning= "Not active" 

      %td
        %small
          = link_to 'Show', user
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @users

%br

= link_to 'New User', new_user_path
