%h1 Listing users

%table
  %tr
    %th Username
    %th Lastname
    %th Identity
    %th Email
    %th Birthdate
    %th Active
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.lastname
      %td= user.identity
      %td= user.email
      %td= user.birthdate
      %td= user.active
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
