%h1 User Detail

.row.well
  .col-span-3
    %div{:style => 'text-align:right;list-style-type:none;font-weight:bold;'}
      %p Username :
      %p Lastname :
      %p Identity :
      %p Email :
      %p Birthdate :
      %p Active :
  .col-span-8
    %div{:style => 'list-style-type:none;'}
      %p= @user.username 
      %p= nbsp @user.lastname
      %p= nbsp @user.identity
      %p= @user.email
      %p= nbsp @user.birthdate
      %p
        - if !@user.active
          %span.label.label-warning= "Not active" 
        - else
          %span.label.label-success= "Active" 


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
