%h1 User Detail

.row.well
  %div.pull-right.thumbnail
    = link_to image_tag(@user.avatar.small.url), '#modal_avatar', :role => 'button', 'data-toggle'=>'modal'
  .col-span-2
    %div{:style => 'text-align:right;list-style-type:none;font-weight:bold;'}
      %p Username :
      %p Lastname :
      %p Identity :
      %p Email :
      %p Birthdate :
      %p Active :
  .col-span-8
    %div{:style => 'list-style-type:none;'}
      %p= @user.username 
      %p= nbsp @user.lastname
      %p= nbsp @user.identity
      %p= @user.email
      %p= nbsp @user.birthdate
      %p
        - if !@user.active
          %span.label.label-warning= "Not active" 
        - else
          %span.label.label-success= "Active" 


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path

#modal_avatar.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = button_close_modal
        %h4 Image
      .modal-body
        = image_tag @user.avatar.url, :style => 'max-height: 400px;max-width: 400px;margin: 0 auto;display:block;', :class => 'img-thumbnail'
      .modal-footer


