.navbar.navbar-static-top
  .container
    = link_to "Four","#", :class=> 'navbar-brand'
    %ul.nav
      %li.dropdown
        = link_to "#", :class => "dropdown-toggle", "data-toggle"=>"dropdown" do
          Lists
          %b.caret
        %ul.dropdown-menu
          %li.nav-header= "Projects"
          %li= link_to 'list', projects_path
          %li= link_to 'test', '#'
          %li.divider
          %li.nav-header= "Users"
          %li= link_to 'list', users_path
    %ul.nav.pull-right
      %li
        = link_to about_path  do
          %span{:class => "glyphicon glyphicon-search"}
      %li.dropdown
        = link_to "#", "data-toggle"=>"dropdown", :class => "btn dropdown-toggle" do
          %span{:class => "glyphicon glyphicon-user"}
          = current_user.username
          %b.caret
        %ul.dropdown-menu
          %li= link_to "Logout", logout_path
          %li= link_to "Profile", user_path(current_user)
          %li.divider
          %li= link_to "Change password",""




