.jumbotron{style: "margin-top:200px"}
  .h1 Welcome to Four !
  %br
  .h4 Test line H4
  %br
  - if current_user
    = "Welcome #{current_user.username}."
    = link_to 'Logout', logout_path, :class => 'btn btn-large'
  - else
    = link_to 'Sign Up', "#modal_signup", :class => 'btn btn-large btn-primary', "data-toggle" => "modal", "data-target" => "#modal_signup"
    = link_to 'Login', "#modal_login", :class => 'btn btn-large btn-success', "data-toggle" => "modal", "data-target" => "#modal_login"

    
%br
= link_to "About", about_path
= link_to "Test", test_path

#modal_login.modal.fade
  = simple_form_for :sessions, :url => sessions_path, :html => {:class => 'well form-horizontal'} do |f|
    %div{:style => 'pading:30px;'}
      = button_close_modal
      %br
    .row{:style=>'margin:50px 0px;'}
      .col-span-4
        %h2 Login
      .col-span-4
        = f.error_notification
        = f.input :email
        = f.input :password
      .col-span-4
        = f.submit "Login", :class => 'btn btn-success btn-large'

#modal_signup.modal.fade
  = simple_form_for :user, :url => users_path, :html => {:class => 'well form-horizontal'} do |f|
    %div{:style => 'pading:30px;'}
      = button_close_modal
      %br
    .row{:style=>'margin:50px 0px;'}
      .col-span-4
        %h2 SignUp
      .col-span-4
        = f.error_notification
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
      .col-span-4
        = f.submit "SignUp", :class => 'btn btn-primary btn-large'

