%h1 Listing wikis

%table.table.table-condensed
  %tr
    %th Name
    %th Content
    %th Owner
    %th Author
    %th Status
    %th

  - @wikis.each do |wiki|
    %tr
      %td= link_to wiki.name, wiki
      %td= truncate wiki.content
      %td= wiki.owner_username
      %td= wiki.author_username
      %td= wiki.status
      %td
        %small
          = link_to 'Show', wiki
          = link_to 'Edit', edit_wiki_path(wiki)
          = link_to 'Destroy', wiki, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @wikis

%br

= link_to 'New Wiki', new_wiki_path
